<!--The content below is only a placeholder and can be replaced.-->
<div class="centerBox" style="text-align:center">
    <h1>
      {{ title }} <span id="highlightMe">Isaac Sidebottom</span>.
    </h1>
    <h1>
      {{secondtitle}}
    </h1>
    <button id="viewWorkBtn" (click)="openDialog()" mat-raised-button><b>View my work</b></button>
  </div>
  <footer>@ 2018 Isaac Sidebottom </footer>
  <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
  
  <router-outlet></router-outlet>
